body{
	margin:0;
}
div.row {
	height:1vw;
}

div.row > span {
	display:inline-block;
	width: 1vw;
	height: 100%;
}

div.row:nth-child(odd) > span:nth-child(odd) {
	background-color: #EEE;
}

div.row:nth-child(even) > span:nth-child(even) {
	background-color: #EEE;
}

#red {
	background-color: #F44;
}
#green {
	background-color: #0A0;
}
#blue {
	background-color: #44F;
}
#pink {
	background-color: #F4F;
}

#cyan {
	background-color: #0AA;
}
#yellow {
	background-color: #AA0;
}
